@import "../../../../variables";

.confirm-order-btn {
  display: flex;
  margin-bottom: 1.5rem;
  button {
    margin: 0 0.95rem 0 0;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    color: #fff;
  }

  .confirm {
    background-color: $confirm-color;
  }

  .call {
    background-color: $call-btn-color;

    span {
      margin-right: 0.2rem;
    }
  }
}
