.logo {
    width: 14%;
    text-align: center;
    letter-spacing: 4px;
}

@media screen and (max-width: 765px) {
  .logo {
    width: 20%;
  }
}

@media screen and (max-width: 400px) {
    .logo {
        width: 20%;
        padding: 0 10px;
    }
}
