main {
    display: flex;
    justify-content: space-between;
    
    .gallery {
        width: 48%;
    }

    .details {
        width: 48%;
    }
}

@media screen and (max-width: 765px) {
    main {
        flex-direction: column;

        .gallery {
            width: 100%;
        }
        .details {
            width: 100%;
        }

    }
  }
  
  @media screen and (max-width: 400px) {
    .container {
        padding: 0;
    }
  }